*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    
}

body{
    background-color: #627363;
}


a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

:where(pre) {
    all: revert;
    box-sizing: border-box;
}

::placeholder {
    color: unset;
}

::marker {
    content: initial;
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}



/* CARDS */

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

.cards__name{
    padding: 5% 5%;
    width: 40%;

}
  
  .load-more-btn {
      width: 10%;
  }
  
/* SEARCH */
.search {
    display: flex;
    align-items: center;
    padding: 15px;  
    padding-top: 100px;
}

.form-container {
    flex: 1; 
    margin-right: 10px; 
    padding: 20px;
    background-color: #ECC5FF; 
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.input-field {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px; 
    outline: none;
}

.add-button {
    background-color: #ECC5FF;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #e3acff;
}

.icon {
    margin-right: 10px;
}

/*FILTER*/

.filter p{
    color: #C5F1FF;
}

.filter {
    cursor: pointer;
    text-decoration: underline #C5F1FF; 
    display: flex;
    justify-content: flex-end;
    margin-right: 100px; 
}

.filter:hover {
    cursor: pointer;
    color: #C5F1FF; 
}

.filter-options {
    position: absolute;
    background-color: #C5F1FF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    right: 0; 
    margin-top: 20px;
    margin-right: 100px; 
    z-index: 1; 
}

.filter-options p {
    text-decoration: underline #C5F1FF; 
    cursor: pointer;
}

.filter-options p:hover {
    cursor: pointer;
    color: #415346; 
}


/* REGISTRATION */
.registration h2{
    color: black;
    margin-top: 90px;
    text-align: center;
    font-size: 36px;
}
.registration-container {
  width: 400px; 
  margin: 0 auto; 
  background-color: #808080;
  border-radius: 10px; 
  padding: 20px; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration-container p{
    color: white;
}

.registration-container form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.registration-container input {
  padding: 8px; 
  margin-bottom: 15px;
  border-radius: 30px; 
  border: 1px solid #ccc; 
  background-color: white;
}
.button-container {
    text-align: center; 
}

.registration__button{
    text-align: center;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #92B0FF;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.registration__button:hover {
  background-color: #819cde;
}

.login__text{
    margin-bottom: 20px;
    text-align: center;
}

.login__link{
    text-decoration: underline;
    color: #92B0FF;
  }


.login__link:hover {
    color: #819cde; 
  }

/* LOGIN */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.login h2 {
    color: black;
    margin-top: 90px;
    text-align: center;
    font-size: 36px;
}

.login-container {
  width: 400px; 
  margin: 0 auto; 
  background-color: #808080;
  border-radius: 10px; 
  padding: 20px; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container p {
    color: white;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  padding: 8px; 
  margin-bottom: 15px;
  border-radius: 30px; 
  border: 1px solid #ccc; 
  background-color: white;
}

.button-container {
    text-align: center; 
    width: 100%; 
    display: flex;
    justify-content: center;
}

.login__button {
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #92B0FF;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.login__button:hover {
    background-color: #819cde; 
}

.login__text {
    margin-bottom: 20px;
    text-align: center;
}

.login__link {
    text-decoration: underline;
    color: #92B0FF;
}

.login__link:hover {
    color: #819cde; 
}


/*HEADER*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .header-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        background-color: #415346;

        .header-menu{
            margin-left: 20px;
            margin-top: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;

            .header-item{
                margin-right: 40px;
                list-style-type: none;

                .header-link{
                    text-decoration: none;
                    color: #ECC5FF ;
                }

                .header-link:hover, .header-link:focus, .header-link:active{
                    color: #84B78A;

                }
            }

            .header-item:last-child{
                margin-right: 0;
            }
        }
    }
}

/*FOOTER*/

.footer {
    width: 100%;
    background-color: #808080;

    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;

        .footer-navbar {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;

            .footer-item {
                padding-top: 30px;
                padding-bottom: 20px;

            }

            .footer-chat {
                align-self: center;
                padding-bottom: 30px;
            }
        }
    }

}

/*COVER*/

.cover-wrapper{
    background-color: #808080;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .cover-text{
        padding: 450px;
        font-size: 70px;
        color: white;
        text-align: center;
    }
}

/*PROFILE_MAIN*/

.profile-cover-wrapper{
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .settings-button{
        width: 48px;
        padding: 30px 10px;
        align-self: flex-start;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20%;

        .profile-photo {
            width: 25%;
            align-self: center;
        }

        .profile-name {
            padding-top: 20px;
            font-size: 48px;
            align-self: center;
            text-align: center;
        }
    }
}

/*ProfileCards*/

.profile-gallery-wrapper {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;


    .profile-cards-wrapper {
        width: 50%;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;

        .profile-cards-text {
            font-size: 48px;
            padding-left: 20px;
            align-self: flex-start;
            text-align: center;
        }

        .profile-cards-btn {
            width: 238px;
            align-self: flex-start;
            padding-left: 15px;
        }

        .profile-cards {
            display: flex;
            flex-wrap: wrap;
            align-self: center;
        }


    }
}



/*MainCards*/

.main-gallery-wrapper{
    width: 100%;
    display: flex;
    

    .main-cards-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;

        .main-cards-btn{
            width: 238px;
            padding-left: 40px;
            align-self: flex-start;
            
        }

        .main-cards-text{
            font-size: 48px;
            padding-left: 40px;
            padding-bottom: 20px;
            align-self: flex-start;
        }

        .main-cards{
            display: flex;
        }

    }
}

/*BRANCHES*/
.model-container {
    position: relative;
}

.branches p {
    color: #00bfff; /* Голубой цвет текста */
    cursor: pointer;
    text-decoration: underline; /* Подчеркивание */
    margin-bottom: 10px; /* Отступ между филиалами */
}

.model-options {
    position: absolute;
    background-color: #ffc0cb; /* Розовый цвет фона */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    color: black; /* Черный цвет текста */
    z-index: 1;
    margin-top: 5px; /* Отступ сверху */
}

.model-options p {
    margin-bottom: 8px; /* Добавляем отступ между пунктами */
}

.branches p:hover {
    cursor: pointer;
    text-decoration: underline; /* Подчеркивание */
    color: #00bfff; /* Голубой цвет текста */
}
